body { 
    font-family: 'Times New Roman', Times, serif;
    background:url('image/cont2.jpg');
    background-size: cover;
}
.textcont {
    color:rgb(0, 0, 0);
    font-size: 3vw;
    position: absolute;
    top: calc(70% - 50px);
    left: calc(25% + 5px);
    word-spacing: 20px;
    padding: 5px;
    width: 50%;
    text-align: center;
    font-weight: 500;
    font-family: Cambria;
    font-style: italic;
    transform: rotate(-10deg);
}
